body {
    font-family: sans-serif;
    font-size: 12px;
    background: #666;
    margin: 0;
    padding: 0;
}

#arena {
    width: 200px;
    height: 200px;
    margin: 30vh auto;
    /* border: 1px solid #ccc; */
    background: #999;
    position: relative;
    /* box-sizing: border-box; */
}

.snake {
    width: 20px;
    height: 20px;
    /* box-sizing: border-box; */
    background: tomato;
    /* border: 1px solid white; */
    position: absolute;
}

#message {
    background-color: aqua;
    text-align: center;
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}